{% extends "events/base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an ERROR in your Form !!!!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}


<div class="shadow p-4 mb-5 bg-body rounded">

    <center>
        <h1>Register</h1>
    </center>
    <br>
    <form action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-dark me-md-2">
    </form>

</div>

{% endblock %}